*_generated_docs
files
generated
.DS_Store
**/__pycache__/
.idea
generated/
A321_AMM.json
A321_IPC.json
A321_MPD.xls
A321_MPD.xlsx
A321_merged_result.json
A321_mpd_data.json
A321_parsed_IPC_results.json
A321_parsed_results_from_AMM.json
A321_temp.docx
A321_template.docx
A330_AMM.json
A330_IPC.json
A330_MPD.xls
A330_MPD.xlsx
A330_merged_result.json
A330_mpd_data.json
A330_parsed_IPC_results.json
A330_parsed_results_from_AMM.json
A330_temp.docx
A330_template.docx
Air Samarkand.docx