{% extends "base.html" %}

{% block title %}
Airlines Management
{% endblock %}
{% block nav_title %}Airlines Management{% endblock %}
{% block content %}


<div class="tabs">
  <div class="tab-buttons">
      <button class="tab-btn active" data-tab="tab1">Airlines</button>
      <button class="tab-btn" data-tab="tab2">Aircraft Types</button>
      <button class="tab-btn" data-tab="tab3">Aircrafts</button>
      <button class="tab-btn" data-tab="tab4">Files</button>
  </div>

  <div class="tab-content active" id="tab1">
      <div class="container">
        <div class="container">
        <div class="table-container">
            <h2>Airlines</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Airline</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="airlinesTableBody">
                    <!-- Table content will be populated by JavaScript -->
                </tbody>
            </table>
        </div>
    </div>
    </div>


  </div>

  <div class="tab-content" id="tab2">
        <div class="container">
                <div class="container">
                <div class="table-container">
                    <h2>Aircraft Types</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Aircraft Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="aircraftTypesTableBody">
                            <!-- Table content will be populated by JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
  </div>

  <div class="tab-content" id="tab3">
    <h3>Aircrafts</h3>
    <p>Контент вкладки 3.</p>
  </div>

      <div class="tab-content" id="tab4">
    <h3>Files</h3>
    <p>Контент вкладки 4.</p>
  </div>
</div>



    <div id="popup" class="popup"></div>
{% endblock %}

{% block script %}
<script src="/static/js/airlines.js"></script>
{% endblock %}