{% extends "base.html" %}

{% block title %}
Airlines Management
{% endblock %}
{% block nav_title %}Airlines Management{% endblock %}
{% block content %}


<div class="tabs">
  <div class="tab-buttons">
      <button class="tab-btn active" data-tab="tab1">Airlines</button>
      <button class="tab-btn" data-tab="tab2">Aircraft Types</button>
      <button class="tab-btn" data-tab="tab3">Aircrafts</button>
      <button class="tab-btn" data-tab="tab4">Files</button>
  </div>

  <div class="tab-content active" id="tab1">
        <div class="container">
<!--        <div class="table-container">-->
            <h2>Airlines</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Airline</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="airlinesTableBody">
                    <!-- Table content will be populated by JavaScript -->
                </tbody>
            </table>
        </div>
<!--    </div>-->


  </div>

  <div class="tab-content" id="tab2">
                <div class="container">
<!--                <div class="table-container">-->
                    <h2>Aircraft Types</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Aircraft Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="aircraftTypesTableBody">
                            <!-- Table content will be populated by JavaScript -->
                        </tbody>
                    </table>
                </div>
<!--            </div>-->
  </div>

  <div class="tab-content" id="tab3">
<div class="container">
        <h2>Aircrafts</h2>

        <div class="selector">
            <label for="airlineSelect">Airline:</label>
            <select id="airlineSelect">
                <option value="">-- Select --</option>
            </select>
            <button id="addAircraftBtn" class="btn-primary">+ add aircraft</button>
        </div>

        <div id="templateInfo" class="template-info"></div>

        <table id="aircraftsTable">
            <thead>
                <tr>
                    <th>Registration №</th>
                    <th>Aircraft type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="aircraftsTableBody">
                <tr><td colspan="3">Select airline</td></tr>
            </tbody>
        </table>
    </div>

    <!-- Модальное окно добавления -->
    <div id="addModal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <h3>Add aircraft</h3>
            <form id="addAircraftForm">
                <label>Airline:</label>
                <select id="newAirlineSelect" required></select>

                <label>Aircraft type:</label>
                <select id="aircraftTypeSelect" required></select>

                <label>Registration №:</label>
                <input type="text" id="registrationNo" required placeholder="Example: VP-BXY">

                <button type="submit" class="btn-primary">Add</button>
            </form>
        </div>
    </div>
  </div>
  <div class="tab-content" id="tab4">

        <div class="container">
            <section class="card">
                <div class="container">
                    <h2>Airbus files (JSON / XLSX)</h2>
                    <button id="remakeFilesBtn" class="btn-primary" onclick="openRemakeFileModal()">Remake files</button>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Document type</th>
                        <th>Airline type</th>
                        <th>Revision</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="airbusFilesBody">
                    <tr><td colspan="6">No data</td></tr>
                    </tbody>
                </table>

                <form id="airbusUploadForm" enctype="multipart/form-data">
                    <select id="documentType" required>
                        <option value="">Document type</option>
                        <option value="AMM">AMM</option>
                        <option value="IPC">IPC</option>
                        <option value="MPD">MPD</option>
                    </select>

                    <select id="filesAircraftTypeSelect" required></select>

                    <input type="number" id="revisionNo" placeholder="Revision" required>

                    <input type="file" id="airbusFile" accept=".json,.xlsx" required>

                    <button type="submit">Upload file</button>
                </form>
            </section>

            <!-- Блок Template Files -->
            <section class="card">
                <h2>Templates (.docx)</h2>
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Airlines</th>
                        <th>Template name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="templatesBody">
                    <tr><td colspan="5">No data</td></tr>
                    </tbody>
                </table>

                <form id="templateUploadForm" enctype="multipart/form-data">
                    <select id="filesAirlineSelect" required></select>
                    <input type="text" id="templateTitle" placeholder="Template name" required>
                    <input type="file" id="templateFile" accept=".docx" required>
                    <button type="submit">Upload template</button>
                </form>
            </section>
        </div>
    </div>

</div>

  <!-- Remake File Modal -->
    <div id="remakeFileModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Remake File</h3>
                <button class="close-modal" onclick="closeRemakeFileModal()">&times;</button>
            </div>
            <form id="remakeFileForm">
                <label>Тип самолёта:</label>
                <select id="remakeAircraftTypeSelect" required></select>
                <button id="remakeBtn" type="submit" class="btn-primary" >Remake files</button>
            </form>
        </div>
    </div>


  <!-- Edit File Modal -->
    <div id="editFileModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit File</h3>
                <button class="close-modal" onclick="closeFileModal()">&times;</button>
            </div>
            <form id="editFileForm">
                <input type="hidden" id="fileId">
                <input type="hidden" id="fileAircraftType">
                <div class="form-group">
                    <label for="documentEditType">Document Type</label>
                  <select id="documentEditType" required>
                <option value="AMM">AMM</option>
                <option value="IPC">IPC</option>
                <option value="MPD">MPD</option>
            </select>
                </div>
                <div class="form-group">
                    <label for="documentEditRevisionNo">Revision</label>
                    <input type="number" id="documentEditRevisionNo" required>
                </div>
                <div class="form-group">
                    <label for="documentEditStatus">Active</label>
                    <input type="checkbox" id="documentEditStatus">
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn-cancel" onclick="closeFileModal()">Cancel</button>
                    <button type="submit" class="btn-save">Save Changes</button>
                </div>
            </form>
        </div>
    </div>

<!-- Edit Template Modal -->
    <div id="editTemplateModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit File</h3>
                <button class="close-modal" onclick="closeTemplateModal()">&times;</button>
            </div>
            <form id="editTemplateForm">
                <input type="hidden" id="templateId">
                <input type="hidden" id="templateAirlineId">
                <div class="form-group">
                    <label for="templateEditTitle">Title</label>
                    <input type="text" id="templateEditTitle" required>
                </div>
                <div class="form-group">
                    <label for="templateEditStatus">Active</label>
                    <input type="checkbox" id="templateEditStatus">
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn-cancel" onclick="closeTemplateModal()">Cancel</button>
                    <button type="submit" class="btn-save">Save Changes</button>
                </div>
            </form>
        </div>
    </div>



    <div id="popup" class="popup"></div>
{% endblock %}

{% block script %}
<script src="/static/js/airlines.js"></script>
{% endblock %}